{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>The Price of Rent</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>

    <div id="logo"><img src="{% static 'img/logo_test.png' %}"></div>

    <div id="fade" class="fade-overlay"></div>

    <div id="enter-screen" style="display: block;">
        <div class="cloud"></div>
        <button id="start-button" onclick="enterGame()">START</button>
    </div>

    <div id="select-screen" style="display: none;">
        <div id="haikei"></div>
        <div id="window"></div>
        <div id="ryoumado" style="display: flex;">
            <div class="mado" id="hidarigawa">
                <div id="select-buttons" style="display: block">
                    <button class="select-button" id="select-button1" onclick="modeSelect()">ゲームモード</button>
                    <button class="select-button" id="select-button2" onclick="">設定</button>
                </div>
                <div id="mode-buttons" style="display: none;">
                    <button class="select-button" id="mode-button1" onclick="offlinePlayers()">オフラインモード</button>
                    <button class="select-button" id="mode-button2" onclick="">オンラインモード</button>
                </div>
                <div id="offline-buttons" style="display: none;">
                    <button class="select-button" id="mode-button1" onclick="updatePlayerCount(1)">一人プレイ</button>
                    <button class="select-button" id="mode-button2" onclick="updatePlayerCount(2)">二人プレイ</button>
                    <button class="select-button" id="mode-button1" onclick="updatePlayerCount(3)">三人プレイ</button>
                    <button class="select-button" id="mode-button2" onclick="updatePlayerCount(4)">四人プレイ</button>
                </div>
                <div id="round-buttons" style="display: none;">
                    <button class="select-button" id="mode-button1" onclick="updateRoundCount(3)">３ラウンド</button>
                    <button class="select-button" id="mode-button2" onclick="updateRoundCount(5)">５ラウンド</button>
                    <button class="select-button" id="mode-button1" onclick="updateRoundCount(7)">７ラウンド</button>
                    <button class="select-button" id="mode-button2" onclick="updateRoundCount(10)">10ラウンド</button>
                </div>
            </div>
            <div class="mado" id="migigawa">
                <div id="round-hyouji"></div>
                <div id="player-inputs"></div>
            </div>
        </div>
        <button id="start-game-btn" style="display: none;" onclick="startGame()">ゲームスタート</button>
    </div>

    <div id="quiz-area" style="display: none;">
        <h2 id="round-info"></h2>
        <div id="image-carousel-wrapper">
            <button id="carousel-prev" class="carousel-btn">←</button>
            <div id="image-carousel" class="carousel"></div>
            <button id="carousel-next" class="carousel-btn">→</button>
        </div>
        <p id="bukken-info"></p>

        <div id="player-answers"></div>

        <button id="kettei_btn" style="display: none;" onclick="submitBothAnswers()">決定</button>
        <p id="result"></p>

        <button id="next-round-btn" style="display: none;" onclick="proceedToNextRound()">次のラウンドへ</button>
    </div>

    <div id="final-result" style="display: none;"></div>
</body>
</html>

